[{cse,
      [{diameter,
            [{{0,0,0,0}, 3868,
                  [{'Auth-Application-Id', [4]},
                  {application,
                        [{alias, cse_diameter_3gpp_ro_application},
                        {dictionary, diameter_gen_3gpp_ro_application},
                        {module, cse_diameter_3gpp_ro_application_cb},
                        {request_errors, callback}]},
                  {listen,
                        [{transport_module, diameter_sctp}]},
                  {'Origin-Realm', "ocf.mnc001.mcc001.3gppnetwork.org"}]}]}]}].
